.card{
    border:none;
    width:500px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: rgb(215, 218, 233);
    background:linear-gradient(90deg,rgb(154, 224, 213)0%,rgb(156, 221, 205)100%)

}
    .card h1,h6{
color:#fff
}
label{
    color:#fff
}
.gap{
    margin-right: 0.5rem;
}
